.container{
    top: 0;
    bottom:0;
    position: relative;
    overflow-y:scroll;
    overflow-x:hidden;
}

.mintHeader {
    margin-top: 20px;
}
.articleContent { 
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, black,black, white);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    background-clip: none;
       
    
}

.subscribe {
    font-size: huge;
    text-align: center;
    display: inline-block;
}

.articlecontainer{
    
    max-width: 700px;
    margin-left: 350px;

}

.subbutton {
    max-width: 300px;

}
.subbutton2 {
    max-width: 250px;

}

.footer {
    position: fixed;
    bottom: 40px;
    width: 100%;
}
.footer2 {
    position: fixed;
    bottom: 80px;
    width: 100%;
}

.footerText {
    color: white;
    text-decoration: solid;
    font-size: medium;
}
.footerText:hover{
    text-decoration: underline;
    color: white;

}
