.sideheader {
    font-weight: bold;
    margin-bottom: 13px;
    margin-top: 12px;
    letter-spacing: 0.083em;
    line-height: 16px;
    font-size: 12px;
    font-weight: 700;
    color: rgba(41, 41, 41, 1);
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sidebuttons {
    margin: 5px;
}
.anchor {
    color: grey;
    margin: 7px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(117, 117, 117, 1);
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
